@import "./import/variables";

/*
  style guide
*/
.guide{
  color:#222;
  hr{
    margin:10px 0;
  }
  .float_left{
    display:block;
    position:relative;
    margin-top:20px;
    &:first-child{
      margin-top:0;
    }
    &>*{
      float:left;
      margin:0 10px 10px 0;
    }
    &:after{
      display:block;
      clear:both;
      content:"";
    }
  }
  .badge__text{
    position:relative;
    top:0;
    left:0;
  }
}
.guide_wrap{
  &:after{
    display:block;
    clear:both;
    content:"";
  }
  &.size2{
    .guide_box{
      width:calc((100% - 20px)/2);
    }
  }
  &.full {
    .guide_box{
      float:none;
      width:100%;
      min-height:auto;
    }
  }
}
.guide_box{
  display:block;
  float:left;
  width:calc((100% - 40px)/3);
  min-height:200px;
  margin:0 0 20px 20px;
  padding:10px;
  border:1px solid #dbdbdb;
  &:first-child {
    margin-left:0;
  }
}
.guide_title01{
  margin-bottom:20px;
  font-size:24px;
  font-weight:bold;
  line-height:28px;
}
.guide_title02{
  margin-bottom:15px;
  font-size:18px;
  font-weight:bold;
  line-height:22px;
}
.guide_title03{
  margin-bottom:8px;
  font-size:15px;
  line-height:18px;
}
.guide_txt{
  margin-bottom:8px;
  font-size:12px;
  color:#999;
}
.mt-0{
  margin-top:0 !important;
}
.mt-10{
  margin-top:10px !important;
}
.mt-20{
  margin-top:20px !important;
}

// 컬러칩 - type1
.colorchip__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  &__label{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: top;
    border-radius: 50%;
  }
}

@include only-mo{ // ~640
  .guide_wrap{
    &.size2{
      .guide_box{
        width:100%;
      }
    }
  }
  .guide_box{
    float:none;
    width:100%;
    min-height:auto;
    margin-left:0;
    padding:30px 24px;
  }
  .colorchip__item {
    width: 18px;
    height: 18px;
    &__label{
      width: 12px;
      height: 12px;
    }
  }
}
.alertLayerBtn {
  display:inline-block;
  padding:10px 15px;
  border:1px solid #dbdbdb;
}



/*
  ※※※※※※※※※※※※※※※※※※※※※※※
  옮겨야할  start 공통 css
  ※※※※※※※※※※※※※※※※※※※※※※※
*/

// 최근 배송지
.shipping_addr{
  .chk_select_zone{
    margin-top:52px;
  }
  .btn_article{
    .button{
      min-width:90px;
    }
  }
}
// pop - 쿠폰 조회 및 적용
.coupon_inquiry{
  .pop_tit{
    margin-bottom: 36px;
    line-height: 1;
    letter-spacing: -0.6px;
  }
  .col_table_cell:first-child{
    width:75%;
    padding-left:0;
  }
  .prd_price{
    width:25%;
  }
  .inp_radio+label{
    margin-right:10px;
  }
  .btn_article + .pop_txt{
    margin:42px 0 40px;
  }
  .coupon_guide{
    .tit{
      font-size:14px;
      font-weight:700;
      letter-spacing:-0.35px;
      color:#444;
      &+.list_dot {
        margin-top:4px;
      }
    }
    .list_dot{
      li{
        color:#888;
      }
    }
  }
}
// pop - 세금계산서
.tax_invoice1, .tax_invoice2{
  .pop_tit{
    margin-bottom: 30px;
    letter-spacing: -0.6px;
  }
  .pop_txt{
    .under_line{
      color:#000;
    }
  }
  .input_item{
    margin-top:24px;
    &:first-child{
      margin-top:0;
    }
  }
  .input_tit{
    width:140px;
    padding-top:13px;
    .tit{
      font-size:14px;
    }
  }
  .input_box{
    width:calc(100% - 140px);
  }
  .input{
    padding:13px 0 13px 0
  }
  .input_col_type{
    width:calc(100% - 140px);
    .input_tit{
      width:40px;
      .tit{
        font-weight:normal;
      }
    }
    .input_box{
      width:calc(100% - 40px);
    }
  }
  @include only-mo {
    .input_tit,
    .input_box,
    .input_col_type {
      float: none;
      width: 100%;
    }
    .input_col_type {
      .input_tit,
      .input_box {
        float: left;
      }
    }
  }
}

// pop - 견적서
.estimate{
  /* 202107 재택 수정
  .pop_cont{
    padding:64px 46px 64px 64px;
  }
  */
  .pop_tit{
    margin-bottom:47px;
    font-size:48px;
    line-height:1.4;
    text-align:center;
  }
  .btn_article{
    margin:80px 0 64px;
    .button {
      min-width: 140px;
    }
  }
  .closed{
    padding: 0 1.8555em;
  }
}
.simplified_info{
  &:after{
    display:block;
    clear:both;
    content:"";
  }
}
.simplified_estimate{
  float:left;
  .date{
    font-size:14px;
    color:#666;
    line-height:18px;
    font-weight: 300;
  }
  .tit{
    margin-top:7px;
    font-size:20px;
    line-height:30px;
    letter-spacing:-0.5px;
    color:#222;
  }
}
.estimate_price{
  max-width:340px;
  margin-top:41px;
  padding-bottom:15px;
  border-bottom:1px solid #ddd;
  color:#222;
  .txt{
    font-size:16px;
    letter-spacing:-0.4px;
  }
  .price_txt{
    display:inline-block;
    padding-left:90px;
    font-size:14px;
    font-weight:700;
    .price{
      font-size:18px;
    }
  }
  .s_txt{
    display:inline-block;
    margin-left:3px;
    font-size:12px;
    color:#888;
    letter-spacing:-0.3px;
  }
}
.estimate_corp{
  float:right;
}
.corp_list{
  >li{
    font-size:14px;
    color:#444;
  }
  .addr{
    margin:11px 0 38px;
  }
  .txt{
    font-size:14px;
    letter-spacing:-0.35px;
    color:#888;
  }
}

.estimate_detail{
  margin-top:92px;
  padding-bottom:80px;
  .prd_info_name{
    font-size:16px;
    font-weight:700;
  }
  .col_table_row{
    .col_table_cell{
      &:nth-child(1){
        width:40%;
      }
      &:nth-child(2){
        width:25%;
      }
      &:nth-child(3){
        width:20%;
      }
      &:nth-child(4){
        width:15%;
      }
      .count{
        font-size:14px;
      }
      .s_txt{
        font-size:14px;
        color:#666;
      }
    }
  }
  @media screen {
    .prd_info_name.line2{
      display: block;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 3em;
    }
  }
  .prd_info_option{
    margin-top:2px;
    font-size:14px;
    color:#666;
    @media screen {
      &.line2{
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 3em;
      }
    }
  }
}

.all_table_wrap{
  .s_txt_right{
    margin-bottom:14px;
    font-size:12px;
    text-align:right;
    color:#888;
  }
  .order_list .prd {
    display: block;
    text-align: center;
  }
  .prd_total_price{
    font-size:16px;
    font-weight:700;
    color:#222;
    .prd_summary_price{
      margin-left:15px;
      font-size:24px;
      line-height:32px;
      color:#5865f5;
    }
    .won{
      font-size:16px;
    }
  }
  .sign_txt{
    margin-top:36px;
    font: size 14px;
    letter-spacing:-0.35px;
    text-align:right;
    color:#444;
    .name{
      display:inline-block;
      min-width:95px;
    }
  }
}
@include only-mo{ // ~640

}
/*
  ※※※※※※※※※※※※※※※※※※※※※※※
    end 공통 css
  ※※※※※※※※※※※※※※※※※※※※※※※
*/

/*
  start 안 옮겨줄건데 팝업은 보여야 해서 css
*/
// 환불계좌 입력 팝업
.refund_account {
  .pop_tit {
    margin-bottom: 14px;
  }
  .group + .check {
    margin-top: 24px;
  }
  .inp_box {
    .inp {
      padding: 21px 0 9px;
      letter-spacing: -0.025em;
      &:placeholder-shown+.label {
        top: 20px;
      }
    }
    .select_ui_zone {
      .opt_list {
        color: #888;
      }
      .selected_btn {
        font-weight: 700;
        letter-spacing: -0.025em;
        color: #222;
      }
    }
  }
  .guide_list {
    margin-top: 38px;
  }
  @media screen and (min-width: 641px) {
    .inp_box .label,
    .inp_box .inp,
    .select_ui_zone .selected_btn {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 640px) {
    .inp_box .inp {
      padding: 24px 0 12px;
    }
  }
}
/*
  end 안 옮겨줄건데 팝업은 보여야 해서 css
*/