@charset "UTF-8";
@import url("./common.css");
@import "./import/variables";

//연장서비스플랜 esp 
.espWrap {
  .container {
    max-width: 100%;
    .content {
      padding: 0 0 120px 0;
    }
  }
  @include under-pc {
    .container {
      .content {
        margin: 0;
      }
    }
  }
  @include only-mo {
    .container {
      .content {
        padding-bottom: 80px;
      }
    }
  }  
}
.container .content.esp_page {
  padding: 0;
}
.espinfo {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  &__title {
    margin: 80px 0;
    font-size: 48px;
    color: #222;
    line-height: 96px;
    text-align: center;
    font-weight: 700;
  }
  &__title2 {
    margin: 120px 0 24px;
    font-size: 24px;
    color: #222;
    font-weight: 700;
  }
  .list_dot li {
    color: #666;
  }
  @include under-pc {
    width: calc(100% - 48px);
  }
  @include only-mo {
    &__title {
      margin: 40px 0;
      font-size: 24px;
      line-height: 26px;
    }
    &__title2 {
      margin: 55px 0 19px;
      font-size: 16px;
      line-height: 18px;
    }    
  }    
}
.problem-solving {
  padding: 60px 0;
  background-color: #f4f7fa;
  text-align: center;
  +.espinfo__title2 {
    margin-top: 40px;
  }
  @include only-mo {
    padding: 40px 0;
  }
}
.graph {
  margin: 60px 0 70px 0;
  .m-br-block {
    display: none;
    @include only-mo {
      display: block;
    }    
  }
  @include under-pc {
   padding: 0 8%;
  }
  @include only-mo {
    margin: 50px 0;
   }   
}
.graph table {
  position: relative; 
  margin: 0 auto;
  width: 61.67%;
  @include under-pc {
    width: 100%;
  }
}
.graph table thead {
  display: block; 
  position: absolute; 
  top: -20px; 
  box-sizing: border-box; 
  width: 100%; 
  max-width: 740px; 
  height: 120px;
  border-bottom: 4px solid #d2d2db;
  border-left: 4px solid #d2d2db;
  color: #2f353d;
  @include under-pc {
    max-width: 100%;
  }
  @include only-mo {
    top: -5px;
    height: 74px;
    border-bottom: 2px solid #d2d2db;
    border-left: 2px solid #d2d2db;
  }  
}
.graph table thead:before {
  position: absolute;
  top: 130px;
  left: -3.5%;
  content: "제품구매"; 
  font-size: 13px;
  color: #2f353d;
  @include only-mo {
    top: 80px;
    left: -2px;
    font-size: 10px;
  }
}
.graph table thead th {
  position: absolute; 
  top: 130px; 
  left: 31%; 
  width: 30px; 
  font-size: 13px; 
  font-weight: normal; 
  color:#2f353d;
  @include only-mo {
    top: 80px;
    left: 28.5%;
    font-size: 10px;
  }
}
.graph table thead th + th {
  position: absolute; 
  left: 64%;
  @include only-mo {
    left: 62%;
  }  
}
.graph table thead th + th + th {
  position: absolute;
  left: 97%;
  @include only-mo {
    left: 94%;
  }    
}
.graph table tbody {
  display: block; 
  position: relative; 
  z-index: 10;
}
.graph table tr {
  display: block; 
  position: relative; 
  max-width: 784px;
  @include under-pc {
    max-width: 100%;
  }
}
.graph table td {
  display: block; 
  float: left; 
  height: 80px; 
  line-height: 80px;
  font-size: 16px;
  @include only-mo {
    height: 60px;
    line-height: 18px;
    font-size: 12px;
  }
}
.graph table .basic {
  width: 32.78%; 
  margin-left: 4px;
  background: #222; 
  color: #ffffff;
  @include under-pc {
    box-sizing: border-box; 
    margin-left: 0.4%;

  }
  @include only-mo {
    padding-top: 12px; 
  }
}
.graph table .basic:after {
  display: block; 
  position: absolute; 
  left: 33.2%; 
  width: 1px; 
  height: 16px; 
  content:""; 
  background: #d2d2db;
  @include only-mo {
    content: none;
  }
}
.graph table .extended {
  width: 66.67%; 
  background: $primary-color; 
  color: #ffffff;
  @include only-mo {
    padding-top: 20px;
  }
}
.graph table .extended span {
  position: absolute; 
  top: -50px; 
  right: 33%; 
  padding: 0 15px; 
  border-radius: 3px 3px 0 3px; 
  background: #51547b; 
  font-size: 13px; 
  line-height: 33px;
  @include only-mo {
    top: -55px;
    padding: 6px 10px; 
    line-height: 14px;
    font-size: 10px;
  }
  @include small-mo {
    right: 40%;
  }  
}
.graph table .extended span:after {
  display: block;
  position: absolute;
  right: 0; 
  bottom: -5px;
  width: 0;
  height: 0; 
  content: "";
  border-color: transparent #51547b transparent transparent;
  border-style: solid; 
  border-width: 10px;
}
.graph table .extended span + span {
  right: 0;
}
.graph table .extended:before {
  display: block; 
  position: absolute; 
  top: 80px; 
  left: 66.6%; 
  width: 1px; 
  height: 16px; 
  content: ""; 
  background: #d2d2db;
  @include only-mo {
    content: none;
  }  
}
.graph table .extended:after {
  display: block; 
  position: absolute;
  left: 99.8%; 
  width: 1px; 
  height: 16px; 
  content: ""; 
  background: #d2d2db;
  @include only-mo {
    content: none;
  }  
}
.txt_plan {
  font-size: 14px;
  color: #666;
  @include only-mo {
    font-size: 10px;
  }
}
.list_dot {
  li {
    position: relative;
    padding-left: 8px;
    font-size: 14px;
    color: #444;
    line-height: 28px;
    &:before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      content: '·';
    }
    @include only-mo {
      font-size: 12px;
      line-height: 22px;
    }
  }
}
.step_box {
  display: flex;
  justify-content: space-between;
  li {
    position: relative;
    flex: 1;
    margin-left: 25px;
    padding: 29px 20px 38px;
    text-align: center;
    background-color: #fbfbfb;
    &:first-child {
      margin-left: 0;
      &:after {
        content: none;
      }
    }
    .icon {
      display: inline-block;
      width: 64px;
      height: 64px;
      &.step1 {
        background: url(../images/common/ic_esp_step1.svg) no-repeat 0 0;
      }
      &.step2 {
        background: url(../images/common/ic_esp_step2.svg) no-repeat 0 0;
      }
      &.step3 {
        background: url(../images/common/ic_esp_step3.svg) no-repeat 0 0;
      }
      &.step4 {
        background: url(../images/common/ic_esp_step4.svg) no-repeat 0 0;
      }
      &.step5 {
        background: url(../images/common/ic_esp_step5.svg) no-repeat 0 0;
      }  
      &.step2_1 {
        background: url(../images/common/ic_esp2_step1.svg) no-repeat 0 0;
      }    
      &.step2_2 {
        background: url(../images/common/ic_esp2_step2.svg) no-repeat 0 0;
      }                                
    }
    .stat {
      position: relative;
      display: block;
      margin-top: 10px;
      font-size: 12px;
      color: #666;      
      &:before {
        display: inline-block;
        margin-right: 2px;
        content: 'STEP';
      }
      @include only-mo {
        font-size: 14px;
        color: #222; 
        &:before {
          content: none;
        }
        &:after {
          display: inline-block;
          content: '.';
        }
      }
    }
    strong {
      display: block;
      margin-top: 5px;
      font-size: 20px;
      color: #222;
      font-weight: 700;
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      color: #222;
      line-height: 22px;
      .br {
        display: block;
      }
    }
    &:after {
      display: inline-block;
      position: absolute;
      left: -16px;
      top: 50%;
      margin-top: -4.5px;
      width: 9px;
      height: 15px;
      content: '';
      background: url(../images/common/arr_esp.svg) no-repeat 0 0;
    }
    @include only-mo {
      display: table;
      padding: 23px 24px;
      width: 100%;
      .icon {
        display: table-cell;
      }
      .stat, strong {
        display: inline;
        margin-top: 0;
      }
      strong {
        font-size: 14px;
      }
      p {
        margin-top: 3px;
        font-size: 12px;
        line-height: 18px;
        .br {
          display: inline;
        }
      }
      .txt_box {
        display:table-cell;
        vertical-align: middle;
        padding-left: 16px;
        text-align: left;
      }
    }
  }
  @include only-mo {
    display: block;
    li {
      display: block;
      width: 100%;
      margin: 16px 0 0 0;
      &:after {
        top: -12px;
        left: 50%;
        margin-left: -4px;
        transform: rotate(90deg);
        background-size: 12px 8px;
      }
    }
  }
}
.site_buy_box {
  .btn_box {
    margin-top: 32px;
    .btn {
      min-width: 200px;
      font-size: 16px; 
    }
    @include only-mo {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      .btn {
        margin: 0;
        min-width: 49%;
        font-size: 14px;
        +.btn {
          margin: 0;
        }
      }
    }     
  }
  @include only-tab {
    .step_box {
      display: block;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        width: 30%;
        min-height: 270px;
        box-sizing: border-box;
        flex: none;
        vertical-align: top;
        &:nth-child(4),
        &:nth-child(5) {
          margin-top: 27px;
        }
      }      
    }
  }
  @include only-mo {
    display: block;
    li {
      &:after {
        top: -11px;
        left: 50%;
        margin-left: -4px;
        transform: rotate(90deg);
        background-size: 12px 8px;
      }
    }
  }
}
.txt_buy {
  margin-top: 13px;
  font-size: 14px;
  color: #444;
  @include only-mo {
    font-size: 12px;
  }
}
.caution_buy {
  margin-top: 64px;
  .tit {
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
    background: url(../images/common/ic_info_tit.svg) no-repeat 0 50%;
    font-size: 16px;
    color: #444;
  }
  .list_dot li {
    color: #666;
  }
  @include only-mo {
    margin-top: 40px;
    .tit {
      font-size: 14px;
    }
  }
}
.esp_tabBox {
  margin-top: 120px;
  .sort_box {
    position: relative;
    .itemsort {
      position: static;
      float: right;
    }
    &:after {
      display: block;
      content: '';
      clear: both;
    }
    @include only-mo {
      .itemsort__drawer {
        width: 82px;
      }
    }
  }
  .tab_ui {
    margin: 0 150px;  
    .tabs {
      &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        content: '';
      }      
      .btn {
        padding: 20px 0 22px;
        font-size: 20px;
        letter-spacing: -0.5px;
      }
    }
    @include under-pc {
      margin: 0 10%;
      >ul {
        width: 100%;
      }
      .tabs {
        .btn {
          width: 100%;
          padding: 20px 0;
          font-size: 18px;
        }        
      } 
    }
    @include only-mo {
      margin: 0;
      .tabs {
        .btn {
          padding: 15px 0;
          font-size: 16px;
          .block {
            display: block;
          }
        }
      }
    }
  }
  .tab_ui_inner {
    margin-top: 40px;
  }
  .fixBox {
    margin-top: 32px;
    &__list {
      li {
        float: left;
        margin-left: 2%;
        width: 32%;
        /* 2021-09-24 수정 */
        .tit_box {
          margin-top: 24px;
          background-color: #222;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .cont_box {
        position: relative;
        padding: 26px 32px 24px 32px;
        background-color: #f4f7fa;
        .info_tit {
          font-size: 24px;
          line-height: 36px;
          font-weight: 700;
          color: #222;
        }
        .info_dsc {
          overflow: hidden;
          min-height: 47px;
          font-size: 16px;
          color: #666;
          @include only-mo {
            min-height: 40px;
            font-size: 14px;
          }
        }
        .buy_box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
          /* 2021-09-24 수정 */
          .button {
              min-width: 110px;
              font-size: 14px;
              height: 32px;
              line-height: 31px;
              padding: 0;
          }      
        }
        .info_price {
          font-size: 16px;
          color: #222;
          font-weight: 700;
          strong {
            margin-right: 2px;
            font-size: 20px;
          }
        }
        &:after {
          position: absolute;
          bottom: 0;
          left: 32px;
          width: calc(100% - 64px);
          content: '';
          border-bottom: 1px solid #e1e1e1;
          @include only-mo {
            left: 24px;
            width:calc(100% - 48px);
          }
        }
      }
      .toggleBox {
        position: relative;
        min-height: 105px;
        background-color: #f4f7fa;
        &__tit {
          display: block;
          padding: 24px 32px 0 32px;          
          font-size: 14px;
          color: #222;
          font-weight: 500;
        }
        &__cont {
          padding-bottom: 32px;
          background-color: #f4f7fa;
          position: absolute;
          top: 47px;
          left: 0;
          padding: 0 65px 0 32px;            
          width: 100%;
          height: 22px;
          overflow: hidden;
          font-size: 14px;
          color: #222;
          line-height: 22px;
          @include ellipsis;
          transition: all 0.2s ease-in-out;
          z-index: 99;
          &.toggleon {
            overflow: inherit;
            height: auto;
            padding-bottom: 32px;
            white-space: normal;
            word-break: break-all;
            + .togglebtn {
              background: url(../images/common/ic_esp_minus.svg) no-repeat 0 0;
            }
            @include only-mo {
              padding-bottom: 24px;
            }
          }          
          @include only-mo {
            position: static;
            margin-top: 5px;
            padding: 0 65px 0 24px;
          }   
        }           
        .togglebtn {
          position: absolute;
          top: 47px;
          right: 32px;
          width: 23px;
          height: 23px;
          background: red;
          background: url(../images/common/ic_esp_plus.svg) no-repeat 0 0;
          text-indent: -9999em;
          z-index: 101;
        }          
        @include only-mo {
          min-height: 95px;
          &__tit {
            padding: 24px 24px 0 24px;
          }
        }        
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      + .btn_area {
        margin-top: 24px;
      } 
    }
    @include only-pc {
      /* 2021-09-24 수정 */
      &__list {
        li {
          &:nth-child(3n+1) {
            margin-left: 0;
          }
        }
      }
    }
    @include under-pc {
      /* 2021-09-24 수정 */      
      &__list {
        li {
          width: 49%;
          &:nth-child(2n+1) {
            margin-left: 0;
          }
          &:nth-child(-n+2) {
            .tit_box {
              margin-top: 0;
            }
          }          
          .cont_box {
            .info_tit {
              font-size: 20px;
            }
            .info_price {
              strong {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    @include only-mo {
      &__list {
        li {
          margin: 24px 0 0 0;
          width: 100%;
           /* 2021-09-24 수정 */
          .tit_box {
            margin-top: 0;
          }
          &:first-child {
            margin-top: 0;
          }
          .cont_box {
            padding: 19px 24px;
            .info_price {
              font-size: 14px;
              strong {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    @include under-pc {
      margin-top: 24px;
    }    
  } 
  @include under-pc {
    margin-top: 80px;
  }
}
.empty_buy_box {
  margin-top: 80px;
  padding: 144px 0 264px 0;
  border-top: 2px solid #222;
  text-align: center;  
  .empty_buy_ico {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: url(../images/product/ic_empty_buy.svg) no-repeat 0 0;
  }
  .empty_tit {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: #222;
  }
  .empty_desc {
    margin-top: 4px;
    font-size: 16px;
    color: #444;
  }    
  @include under-pc {
    padding: 144px 0 224px 0;
    .button_wrap {
      .button {
        min-width: 200px;
        height: 64px;
        font-size: 18px;
      }
    }    
  }
  @include only-mo {
    margin-top: 40px;
    padding: 80px 0 120px 0;
    .empty_tit {
      margin-top: 15px;
      font-size: 16px;
    }
    .empty_desc {
      font-size: 14px;
    }    
    .button_wrap {
      .button {
        min-width: 150px;
        height: 48px;
        font-size: 14px;
      }
    }    
  }
}
.esp_tbl_wrap {
  .col_table_cell {
    padding: 16px;
    width: 25%; 
    .prd_name {
      color: #222;
      font-weight: 700;
    }
    .prd_date {
      color: #222;
      font-weight: 400;
    }
    .prd_num {
      color: #888;
      font-weight: 400;
    }
    .button-s {
      padding: .571em 1.143em;
      min-width: 86px;
      height: 32px;
      font-size: 14px;
    }
  }
  .btn_area {
    border-top: 0;
    .btn_more {
      padding:15px;
    }
  }
  @include only-mo {
    .col_table {
      display: block;
    }
    .col_table_head {
      display: none;
    }
    .col_table_body {
      display: block;
      .col_table_row {
        display: block;
        padding: 24px 0;
        border-bottom: 1px solid #ddd;
        .col_table_cell {
          display: block;
          padding: 0;
          width: 100%;
          border-bottom: 0;
          text-align: left;
          .prd_name {
            font-size: 14px;
          }
          .prd_date {
            position: relative;
            margin-top: 4px;
            font-size: 12px;           
            &:before {
              font-size: 12px;
              color: #666;
              content: '정품등록일 : '
            }
          }
          .prd_num {
            position: relative;
            margin-top: 4px;            
            font-size: 12px;        
            &:before {
              font-size: 12px;
              color: #666;
              content: '보증기간 만료일 (제품번호) : '
            }
          }
          .button {
            margin-top: 16px;
          }
        }
      }
    }
  }
}
.esp_info {
  margin-top: 40px;
  .esp_tit {
    display: block;
    margin-bottom: 5px;
    color: #444;
    font-size: 16px;
    @include only-mo {
      font-size: 14px;
    }
  }
  .list_dot li {
    color: #666;
  }
}
.esp_list_box {
  margin: 80px 0 160px 0;
  @include under-pc {
    margin: 80px 0 120px 0;
  }
  @include only-mo {
    margin: 40px 0 80px 0;
  }
}
.esp_pop {
  .pop_cont_scroll {
    position:relative;
    overflow-y: hidden;
    .inner_scroll {
      overflow-y: scroll;
      margin-top: 56px;
      height: 360px;
      .related_laws {
        margin-top: 0;
        .dot_line>li {
          margin-top: 28px;
          padding: 0;
          border: 0;          
          &:first-child {
            margin: 0;
          }
        }
        .desc {
          line-height: 22px;
        }
        .tit + ol {
          margin-top: 4px;
        }
      }
      @include only-tab {
        height: calc(100% - 140px);
      }
      @include only-mo {
        margin-top: 30px;
        height: calc(100% - 200px);
        min-height:130px;
      }      
    }
  }
  .agree_check_box {
    margin-top: 32px;
    text-align: center;
    label {
      color: #222;
      font-size: 14px;
    }
    p {
      margin-top: 16px;
      color: #666;
      font-size: 14px;
    }
  }
  @include only-mo {
    .pop_inner .pop_txt.txt_l {
    font-size: 14px;
    line-height: 26px;
    }
    .mo {
        display: block;
      }
  }
}