@import "./import/variables";

/* event 기획전 */
//liveon
.container.full .content.liveon {
  @include under-pc {
    margin: 0;
  }
}
.event_video {
  position: relative;
  &_bgbox {
    padding-bottom: 332px;
    background: url(../images/event/event_bg_liveon_pc.jpg) no-repeat 0 0;
    background-position: 50%;
    width: 100%;
    //min-height: 1250px; 
    z-index: -1;
    background-size: cover;
  }
  &_inner {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    &:first-of-type {
      padding-top: 80px;
    }
    &.prd_inner {
      margin-top: -320px;
    }
  }
  &_badge {
    display: inline-block;
    padding: 7px 0;
    width: 108px;
    height: 30px;
    background: #e70000;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 100%;
    font-weight: 700;
    box-sizing: border-box;
    vertical-align: top;
    &:before {
      display: inline-block;
      margin-right: 8px;
      width: 14px;
      height: 15px;
      content: '';
      background: url(../images/event/ic_arr_badge.svg) no-repeat 0 0;
      vertical-align: top;
    }
  }
  &_title {
    margin-top: 12px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
  }
  &_desc {
    margin-top: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
  }
  &_share {
    position: absolute;
    top: 40px;
    right: 0;
    width: 36px;
    height: 36px;
    text-indent: -9999em;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.2);
    a {
      position: relative;
      display: block;
      height: 100%;      
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        background: url(../images/event/ic_share.svg) no-repeat 0 0;
        transform: translate(-50%,-50%);
        content: '';
      }
    }
  }
  &_playbox {
    width: 100%;
    margin: 80px auto 0;
    padding: 0 60px;
    box-sizing: border-box;
    .video_container {
      position: relative;
      width: 100%;
      height: auto;
      padding-bottom: 56.25%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  .event_prd {
    padding-bottom: 160px;
    &_title {
      margin: 64px 0 40px;      
      font-size: 32px;
      font-weight: 700;
      color: #fff;
    }
  }
  @include under-pc {
    &_bgbox {
      padding-bottom: 321px;
      background: url(../images/event/event_bg_liveon_tb.jpg) no-repeat 0 0;
      background-position: 50%;
      background-size: cover;
    }
    &_inner {
      width: 100%;
      max-width: 100%;
    }
    &_share {
      right: 24px;
    }
    &_playbox {
      padding: 0;
    }
    .event_prd {
      margin: 0 24px;
      padding-bottom: 120px;
    }
  }
  @include only-mo {
    &_bgbox {
      padding-bottom: 148px;
      background: url(../images/event/event_bg_liveon_mo.jpg) no-repeat 0 0;
      background-position: 50%;
      background-size: cover;
    }    
    &_inner {
      &.prd_inner {
        margin-top: -147px;
      }
      &:first-of-type {
        padding-top: 40px;
      }
    }
    &_badge {
      padding: 3px 0;
      width: 75px;
      height: 20px;
      font-size: 12px;
      &:before {
        margin: 2px 4px 0 0;
        background-size: 7px 8px;
        width: 7px;
        height: 8px;
      }
    }
    &_title {
      margin-top: 17px;
      font-size: 28px;
      line-height: 40px;
      .block {
        display: block;
      }
    }
    &_desc {
      margin-top: 16px;
      font-size: 12px;
      line-height: 18px;
    }
    &_share {
      top: 16px;
      right: 16px;
      width: 24px;
      height: 24px;
      a:before {
        width: 13px;
        height: 13px;
        background-size: cover;
      }
    }
    .event_video_playbox {
      margin: 40px auto 0;
    }
    .event_prd {
      padding-bottom: 80px;      
      &_title {
        margin: 40px 0 24px;        
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  @include under-pc {
    .btn_area {
      .btn_more {
        padding: 16px 0;
      }
    }    
    .button_wrap {
      margin-top: 48px;
      .button {
        min-width: 200px;
        height: 64px;
        font-size: 18px;
      }
    }
  }
  @include only-mo {
    .button_wrap {
      margin-top: 64px;
      .button {
        min-width: 148px;
        height: 48px;
        font-size: 14px;
      }
    }
  }
}