@import "./import/variables";
@import"../css/common.css";

@media screen and (max-width: 1280px) {
  .Membership .content {
    margin: 0
  }
}

.membership_kvarea {
  height: 600px;
  background: url('../images/membership/membership_kv_pcimg.jpg') no-repeat 50% 0
}

.membership_kvarea.temp {
  background: url('../images/membership/membership_kv_vippcimg.jpg') no-repeat 50% 0
}

.membership_kvarea_titlebox {
  margin: 0 auto;
  padding-top: 204px;
  max-width: 1200px;
  text-align: center
}

.membership_kvarea_titlebox .subtitle {
  display: block;
  margin-bottom: 24px;
  font-size: 20px;
  color: #fff;
  letter-spacing: -0.5px;
  font-weight: 700;
  line-height: 20px
}

.membership_kvarea_titlebox .title {
  margin-bottom: 32px;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 48px
}

.membership_kvarea_titlebox .desc {
  font-size: 16px;
  color: #bbb;
  letter-spacing: -0.4px
}

.membership_kvarea_titlebox .line_box {
  margin-top: 135px;
  border-top: 1px solid #444;
  text-align: left
}

.membership_kvarea_titlebox .line_box .txt {
  margin: 0 auto;
  padding: 46px 0 40px;
  max-width: 830px;
  font-size: 20px;
  color: #fff;
  background: url('../images/membership/ic_all.png') no-repeat 100% 40px
}

.membership_kvarea_titlebox .line_box .txt .amp span {
  position: relative
}

.membership_kvarea_titlebox .line_box .txt .amp span:before {
  position: absolute;
  top: -6px;
  left: 50%;
  width: 2px;
  height: 2px;
  content: "";
  background: #ffde3f;
  border-radius: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.membership_kvarea_titlebox .line_box .txt .amp span:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  border-bottom: 1px solid #707070
}

.membership_kvarea_titlebox .line_box .txt .amp span:nth-of-type(3) {
  padding-left: 5px
}

.membership_tabarea {
  margin: 80px 0 120px
}

.membership_tabarea .tab_ui .btn {
  padding: 22px 0 20px;
  font-size: 20px
}

.membership_tabarea .detail_veiw_area {
  margin-top: 80px
}

.membership_tabarea .detail_veiw_area .col_table_wrap {
  margin: 0 auto 120px;
  max-width: 1200px
}

.membership_tabarea .detail_veiw_area .col_table_wrap .col_table_cell {
  padding: 20px 48px;
  width: 28%;
  line-height: 24px
}

.membership_tabarea .detail_veiw_area .col_table_wrap .col_table_cell:first-of-type {
  width: auto
}

.membership_tabarea .detail_veiw_area .col_table_wrap .emp {
  color: #222;
  font-weight: 700
}

.membership_tabarea .detail_veiw_area .col_table_wrap.temp .col_table_cell {
  padding: 20px 100px;
  width: 40%
}

.membership_tabarea .detail_veiw_area .col_table_wrap.temp .col_table_cell:first-of-type {
  padding: 20px 64px;
  width: auto
}

.membership_tabarea .detail_veiw_area .mo_tbl {
  display: none
}

.membership_tabarea .mileage_info {
  margin: 0 auto 40px;
  max-width: 1200px;
  height: 600px;
  background: url('../images/membership/membership_mileage_pcimg.png') no-repeat 50% 0
}

.membership_tabarea .mileage_info_inner {
  padding-top: 80px;
  text-align: center
}

.membership_tabarea .mileage_info_inner_tit {
  font-size: 24px;
  color: #222;
  font-weight: 700
}

.membership_tabarea .mileage_info_inner_txt {
  margin-top: 40px;
  color: #222;
  font-size: 16px;
  line-height: 24px
}

.membership_tabarea .mileage_info_inner_txt .br {
  display: block
}

.membership_tabarea .mileage_info_inner_txt em {
  color: #5865f5;
  font-weight: 700
}

.membership_tabarea .mileage_info_inner_txt:last-of-type {
  margin-top: 24px;
  color: #888;
  line-height: 22px;
  font-size: 14px
}

.membership_tabarea .mileage_bgarea {
  margin-bottom: 40px;
  height: 550px;
  background: url('../images/membership/membership_bgarea_pc.png') no-repeat 50% 0
}

.membership_tabarea .mileage_bgarea_inner {
  margin: 0 auto;
  padding-top: 84px;
  max-width: 1000px
}

.membership_tabarea .mileage_bgarea_inner .tit {
  display: block;
  margin-bottom: 26px;
  font-size: 24px;
  color: #fff;
  text-align: center
}

.membership_tabarea .mileage_bgarea_inner .message_lft .message_txt p {
  background-color: #4e5172
}

.membership_tabarea .mileage_bgarea_inner .message_lft .message_txt p:before {
  right: 32px;
  border-right: 22px solid #4e5172;
  border-bottom-left-radius: 2.2rem .9rem;
  -webkit-transform: translate(0, -0.1rem);
  transform: translate(0, -0.1rem)
}

.membership_tabarea .mileage_bgarea_inner .message_lft .message_txt p:after {
  right: 32px;
  border-bottom-left-radius: 2.2rem;
  -webkit-transform: translate(0, -1px);
  transform: translate(0, -1px)
}

.membership_tabarea .mileage_bgarea_inner .message_rgt {
  text-align: right
}

.membership_tabarea .mileage_bgarea_inner .message_rgt .message_txt p {
  background-color: #5865f5
}

.membership_tabarea .mileage_bgarea_inner .message_rgt .message_txt p:before {
  left: 32px;
  border-left: 22px solid #5865f5;
  border-bottom-right-radius: 2.2rem .9rem;
  -webkit-transform: translate(0, -0.1rem);
  transform: translate(0, -0.1rem)
}

.membership_tabarea .mileage_bgarea_inner .message_rgt .message_txt p:after {
  left: 32px;
  border-bottom-right-radius: 2.2rem;
  -webkit-transform: translate(0, -1px);
  transform: translate(0, -1px)
}

.membership_tabarea .mileage_bgarea_inner .message_txt {
  position: relative
}

.membership_tabarea .mileage_bgarea_inner .message_txt p {
  position: relative;
  display: inline-block;
  margin: 16px 0 10px;
  padding: 20px 32px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 500
}

.membership_tabarea .mileage_bgarea_inner .message_txt p:before,
.membership_tabarea .mileage_bgarea_inner .message_txt p:after {
  position: absolute;
  bottom: -11px;
  content: "";
  height: 10px
}

.membership_tabarea .mileage_bgarea_inner .message_txt p:before {
  height: 10px
}

.membership_tabarea .mileage_bgarea_inner .message_txt p:after {
  background-color: #000;
  width: 10px
}

.membership_tabarea .mileage_bgarea_inner .message_txt:first-of-type p {
  margin-top: 0
}

.membership_tabarea .mileage_bgarea_inner .message .empcolor {
  color: #ff0;
  font-weight: 700
}

.membership_tabarea .mileage_bgarea_inner .message .emoticon {
  display: inline-block;
  margin: 3px 0 0 5px;
  width: 18px;
  height: 18px;
  background: url('../images/membership/ic_emoji.png') no-repeat 0 0;
  vertical-align: top
}

.membership_tabarea .mileage_bgarea_inner .message:after {
  display: block;
  content: "";
  clear: both
}

.membership_tabarea .mileage_use {
  margin: 0 auto;
  max-width: 762px;
  text-align: center
}

.membership_tabarea .mileage_use_txt p {
  font-size: 16px;
  color: #222;
  line-height: 24px;
  letter-spacing: -0.6px
}

.membership_tabarea .mileage_use_txt p .emp {
  color: #5865f5;
  font-weight: 700
}

.membership_tabarea .mileage_use_txt p:last-of-type {
  margin-top: 24px;
  font-size: 14px;
  color: #666
}

.membership_tabarea .mileage_use_txt p:last-of-type strong {
  color: #444
}

.membership_tabarea .mileage_use_method {
  margin: 120px auto 0;
  max-width: 588px
}

.membership_tabarea .mileage_use_method .tit {
  display: block;
  margin-bottom: 40px;
  font-size: 24px;
  color: #222;
  font-weight: 700
}

.membership_tabarea .mileage_use_method_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.membership_tabarea .mileage_use_method_list li {
  position: relative;
  width: calc((100% - 8px)/2);
  padding: 130px 0 44px;
  color: #222;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  border: 1px solid #e1e1e1;
  letter-spacing: -0.3px
}

.membership_tabarea .mileage_use_method_list li .br {
  display: block
}

.membership_tabarea .mileage_use_method_list li.method_01 {
  background: url('../images/membership/ic_shopping.svg') no-repeat 50% 43px
}

.membership_tabarea .mileage_use_method_list li.method_02 {
  background: url('../images/membership/ic_repair.svg') no-repeat 50% 43px
}

.membership_tabarea .mileage_use_method_txt {
  margin-top: 40px
}

.membership_tabarea .mileage_use_method_txt p {
  font-size: 16px;
  color: #222
}

.membership_tabarea .mileage_use_method_txt p strong {
  color: #5865f5;
  font-weight: 700;
  line-height: 24px
}

.membership_tabarea .mileage_use_method_txt p:last-of-type {
  margin-top: 24px;
  font-size: 14px;
  color: #666;
  line-height: 22px
}

.membership .tab_ui_inner.temp .mileage_info {
  background: url('../images/membership/membership_mileage_vippcimg.png') no-repeat 50% 0
}

@media screen and (max-width: 1280px) {
  .membership_kvarea {
    background: url('../images/membership/membership_kv_tbimg.jpg') no-repeat 50% 0;
    background-size: cover
  }

  .membership_kvarea_titlebox {
    width: auto
  }

  .membership_kvarea_titlebox .line_box {
    margin: 135px 24px 0
  }

  .membership_kvarea_titlebox .line_box .txt {
    padding-left: 26px;
    background: url('../images/membership/ic_all_tb.png') no-repeat 96% 40px
  }

  .membership_kvarea.temp {
    background: url('../images/membership/membership_kv_viptbimg.jpg') no-repeat 50% 0;
    background-size: cover
  }

  .membership_tabarea {
    margin-top: 40px
  }

  .membership_tabarea .detail_tab {
    margin: 0 114px
  }

  .membership_tabarea .tab_ui .btn {
    font-size: 18px
  }

  .membership_tabarea .detail_veiw_area {
    margin-top: 64px
  }

  .membership_tabarea .detail_veiw_area .mileage_info {
    margin: 0 24px
  }

  .membership_tabarea .detail_veiw_area .col_table_wrap {
    margin: 40px 24px 80px
  }

  .membership_tabarea .detail_veiw_area .col_table_wrap .col_table_cell {
    padding: 20px 20px
  }

  .membership_tabarea .detail_veiw_area .col_table_wrap.temp .col_table_cell {
    padding: 20px 45px;
    width: 40%
  }

  .membership_tabarea .detail_veiw_area .col_table_wrap.temp .col_table_cell:first-of-type {
    padding: 20px 25px;
    width: auto
  }

  .membership_tabarea .mileage_info {
    height: 500px;
    background: url('../images/membership/membership_mileage_tbimg.png') no-repeat 50% 100%;
    background-size: cover
  }

  .membership_tabarea .mileage_bgarea {
    height: 585px;
    background: url('../images/membership/membership_bgarea_tb.png') no-repeat 50% 100%;
    background-size: cover
  }

  .membership_tabarea .mileage_bgarea_inner {
    padding-top: 80px
  }

  .membership_tabarea .mileage_bgarea_inner .tit {
    margin-bottom: 64px
  }

  .membership_tabarea .mileage_bgarea_inner .message {
    margin: 0 24px
  }

  .membership_tabarea .mileage_use_txt {
    margin: 0 auto;
    max-width: 500px
  }

  .membership_tabarea .mileage_use_txt .br {
    display: block
  }

  .membership_tabarea .mileage_use_method {
    margin: 80px auto 0;
    max-width: 536px
  }

  .membership_tabarea .mileage_use_method_list li a {
    padding: 128px 0 40px;
    height: 100%;
    font-size: 16px;
    line-height: 24px
  }

  .membership .tab_ui_inner.temp .mileage_info {
    background: url('../images/membership/membership_mileage_viptbimg.png') no-repeat 50% 100%;
    background-size: cover
  }
}

@media screen and (max-width: 640px) {
  .membership_kvarea {
    height: 696px;
    background: url('../images/membership/membership_kv_moimg.jpg') no-repeat 0 0;
    background-size: cover
  }

  .membership_kvarea_titlebox {
    padding-top: 194px
  }

  .membership_kvarea_titlebox .subtitle {
    margin-bottom: 16px;
    font-size: 16px
  }

  .membership_kvarea_titlebox .title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 36px
  }

  .membership_kvarea_titlebox .desc {
    margin: 0 auto;
    width: 70%;
    font-size: 14px;
    line-height: 22px
  }

  .membership_kvarea_titlebox .line_box {
    margin: 170px 24px 0
  }

  .membership_kvarea_titlebox .line_box .txt {
    padding: 35px 0 65px;
    font-size: 14px;
    line-height: 1;
    background: url('../images/membership/ic_all_mo.png') no-repeat 0 0;
    background-position: center bottom;
    text-align: center;
    font-weight: 200
  }

  .membership_kvarea_titlebox .line_box .txt .amp {
    display: block;
    margin-top: 18px
  }

  .membership_kvarea.temp {
    background: url('../images/membership/membership_kv_vipmoimg.jpg') no-repeat 0 0;
    background-size: cover
  }

  .membership_tabarea {
    margin: 12px 0 80px
  }

  .membership_tabarea .detail_tab {
    margin: 0;
  }

  .membership_tabarea .tab_ui .btn {
    font-size: 16px;
    letter-spacing: -1px
  }

  .membership_tabarea .detail_veiw_area {
    margin-top: 40px
  }

  .membership_tabarea .detail_veiw_area .pc_tbl {
    display: none
  }

  .membership_tabarea .detail_veiw_area .mo_tbl {
    display: block;
    margin: 42px 24px 64px
  }

  .membership_tabarea .detail_veiw_area .mo_tbl col:nth-child(1) {
    width: 35%
  }

  .membership_tabarea .detail_veiw_area .mo_tbl col:nth-child(2) {
    width: 65%
  }

  .membership_tabarea .detail_veiw_area .mo_tbl th {
    padding: 24px 7px;
    text-align: center;
    background-color: transparent;
    vertical-align: middle
  }

  .membership_tabarea .detail_veiw_area .mo_tbl th .name {
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px
  }

  .membership_tabarea .detail_veiw_area .mo_tbl th,
  .membership_tabarea .detail_veiw_area .mo_tbl td {
    font-size: 14px
  }

  .membership_tabarea .detail_veiw_area .mo_tbl td {
    padding: 24px
  }

  .membership_tabarea .detail_veiw_area .mo_tbl td .benefit:last-of-type {
    margin-top: 16px
  }

  .membership_tabarea .mileage_info {
    height: 432px;
    background: url('../images/membership/membership_mileage_moimg.png') no-repeat 0 0;
    background-size: 100% 100%
  }

  .membership_tabarea .mileage_info_inner {
    margin: 0 24px;
    padding-top: 64px
  }

  .membership_tabarea .mileage_info_inner_tit {
    font-size: 20px
  }

  .membership_tabarea .mileage_info_inner_txt {
    font-size: 14px
  }

  .membership_tabarea .mileage_info_inner_txt .br {
    display: inline
  }

  .membership_tabarea .mileage_info_inner_txt:last-of-type {
    font-size: 12px;
    line-height: 18px
  }

  .membership_tabarea .mileage_use {
    margin: 0 24px
  }

  .membership_tabarea .mileage_use_txt p {
    font-size: 14px;
    line-height: 22px
  }

  .membership_tabarea .mileage_use_txt p:last-of-type {
    font-size: 12px
  }

  .membership_tabarea .mileage_use_method {
    margin: 64px auto 0
  }

  .membership_tabarea .mileage_use_method .tit {
    margin-bottom: 24px;
    font-size: 20px
  }

  .membership_tabarea .mileage_use_method_list li {
    padding: 100px 15px 20px;
    font-size: 12px;
    line-height: 18px
  }

  .membership_tabarea .mileage_use_method_list li .m_br {
    display: block
  }

  .membership_tabarea .mileage_use_method_list li .br {
    display: inline
  }

  .membership_tabarea .mileage_use_method_list li.method_01 {
    background: url('../images/membership/ic_shopping.svg') no-repeat 50% 24px
  }

  .membership_tabarea .mileage_use_method_list li.method_02 {
    background: url('../images/membership/ic_repair.svg') no-repeat 50% 24px
  }

  .membership_tabarea .mileage_use_method_txt {
    margin-top: 24px
  }

  .membership_tabarea .mileage_use_method_txt p {
    font-size: 14px;
    line-height: 22px
  }

  .membership_tabarea .mileage_use_method_txt p:last-of-type {
    font-size: 12px;
    line-height: 18px
  }

  .membership_tabarea .mileage_bgarea {
    height: 512px;
    background: url('../images/membership/membership_bgarea_mo.png') no-repeat 50% 100%;
    background-size: cover
  }

  .membership_tabarea .mileage_bgarea_inner {
    padding-top: 64px
  }

  .membership_tabarea .mileage_bgarea_inner .tit {
    font-size: 20px
  }

  .membership_tabarea .mileage_bgarea .message {
    height: 305px
  }

  .membership_tabarea .mileage_bgarea .message_txt p {
    padding: 13px 24px;
    font-size: 12px;
    line-height: 18px
  }

  .membership_tabarea .mileage_bgarea .message_lft {
    width: auto
  }

  .membership_tabarea .mileage_bgarea .message_rgt {
    margin-top: 16px;
    width: auto
  }

  .membership_tabarea .mileage_bgarea .message .br {
    display: block
  }

  .membership_tabarea .mileage_bgarea .message .emoticon {
    margin: 0 0 0 5px
  }

  .membership .tab_ui_inner.temp .mileage_info {
    background: url('../images/membership/membership_mileage_vipmoimg.png') no-repeat 50% 100%;
    background-size: cover
  }
}

.prmm_smry {
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 80px 0;
  text-align: center;
  background-color: #f4f7fa
}

.prmm_smry_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.025em;
  color: #222
}

.prmm_smry_desc {
  margin: 36px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.025em;
  color: #222
}

.prmm_smry_list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  height: 194px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: -0.025em;
  color: #222;
  border-radius: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 99px;
  background-size: 56px
}

.prmm_smry_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto
}

.prmm_smry_list:nth-child(1) {
  background-image: url("../images/membership/ic_premium1.svg")
}

.prmm_smry_list:nth-child(2) {
  background-image: url("../images/membership/ic_premium2.svg")
}

.prmm_smry_list:nth-child(3) {
  background-image: url("../images/membership/ic_premium3.svg")
}

.prmm_smry_list:nth-child(4) {
  background-image: url("../images/membership/ic_premium4.svg")
}

.prmm_smry_item {
  margin-top: .2em;
  font-size: 16px;
  letter-spacing: -0.025em
}

.prmm_dtl {
  max-width: 1200px;
  margin: 80px auto 0
}

.prmm_dtl_list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.025em;
  color: #222
}

.prmm_dtl_list:nth-child(even) {
  padding-left: 208px
}

.prmm_dtl_list:nth-child(n+2) {
  margin-top: 120px
}

.prmm_dtl_pic {
  max-width: 992px
}

.prmm_dtl_img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover
}

.prmm_dtl_title {
  margin: 1.5em 0 .5em;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -0.025em
}

.prmm_dtl_note {
  font-size: .875em;
  letter-spacing: -0.025em;
  color: #666
}

.prmm_dtl_link {
  display: inline-block;
  margin-top: 1.1429em;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.025em;
  color: #222
}

.prmm_dtl_link::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-left: .2em;
  border-top: 2px solid #222;
  border-right: 2px solid #222;
  -webkit-transform: rotate(45deg) translateY(-25%);
  transform: rotate(45deg) translateY(-25%)
}

.prmm_dtl_prctns {
  margin: .75em 0 1.125em
}

@media screen and (max-width: 1280px) {
  .prmm_smry {
    margin: 0 24px 64px;
    padding: 80px 24px 48px
  }

  .prmm_smry_list {
    -ms-flex-preferred-size: calc(25% - 18px);
    flex-basis: calc(25% - 18px);
    height: 170px;
    background-position: 50% 93px
  }

  .prmm_dtl {
    margin: 64px 24px 0
  }

  .prmm_dtl_list {
    font-size: 14px
  }

  .prmm_dtl_list:nth-child(even) {
    padding-left: 0
  }

  .prmm_dtl_list:nth-child(n+2) {
    margin-top: 80px
  }

  .prmm_dtl_pic {
    position: relative;
    padding-top: 55.556%
  }

  .prmm_dtl_img {
    position: absolute;
    top: 0;
    height: 100%
  }

  .prmm_dtl_title {
    font-size: 1.429em
  }

  .prmm_dtl_note {
    font-size: .8572em
  }
}

@media screen and (max-width: 640px) {
  .prmm_smry {
    padding: 64px 24px 40px
  }

  .prmm_smry_desc {
    font-size: 14px
  }

  .prmm_smry_desc br {
    display: none
  }

  .prmm_smry_list {
    -ms-flex-preferred-size: calc(50% - 4px);
    flex-basis: calc(50% - 4px);
    height: calc(50vw - 52px);
    min-height: 140px;
    padding-top: 4vw;
    background-position: 50% calc(50% + 28px);
  }

  .prmm_smry_lists {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .prmm_smry_list:nth-child(n+3) {
    margin-top: 8px
  }

  .prmm_smry_item {
    font-size: 12px
  }

  .prmm_dtl_list:nth-child(n+2) {
    margin-top: 64px
  }

  .prmm_dtl_pic {
    padding-top: 61.54%
  }
}

.coupon_zone {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.coupon_zone .coupon_inner {
  padding-bottom: 16px
}

.coupon .ico_txt:after {
  background: url('../images//mypage/ico_mypage_coupon.svg') no-repeat 0 0;
}

/* 쿠폰 list */
.coupon_list {
  display: flex;
  position: relative;
  border: none;

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  .coupon_box {
    align-items: stretch;
    position: relative;
    width: calc((100% - 24px)/2);
    min-height: 257px;
    margin: 0 0 25px 24px;

    &:first-child {
      margin-left: 0;
    }

    &:after {
      display: block;
      overflow: hidden;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      width: 90px;
      height: 100%;
      border-radius: 4px;
      background: #5865f5;
      content: "";
    }

    .coupon_type {
      position: absolute;
      z-index: 10;
      top: 50%;
      right: -36px;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: -0.5px;
      opacity: 0.15;
      transform: translateY(-50%) rotate(90deg);
      color: #fff;

      &.two {
        right: -58px;
        line-height: 45px;
        text-align: center;
      }
    }

    &.vvip {
      &:after {
        background: #e70000;
      }

      .coupon_type {
        opacity: 0.2;
      }

      .percentage {
        color: #e70000;
      }
    }
  }

  .coupon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    width: 519px;
    height: 100%;
    padding: 28px 55px 30px 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;

    &_no {
      position: absolute;
      top: 34px;
      right: 55px;
      color: #888;
    }

    &_expiration {
      position: absolute;
      top: 37px;
      right: 55px;
      font-size: 12px;
      color: #888;
    }
  }

  .tit {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: #222;
  }

  .percentage {
    color: #5865f5;
  }

  .cut_tit {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: -0.35px;
    color: #222;
  }

  .cut_txt {
    margin-top: 13px;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #222;
  }

  .expiration_txt {
    margin-top: 44px;
    font-size: 14px;

    &>strong {
      display: inline-block;
      margin-right: 8px;
    }
  }

  .coupon_desc {
    margin-top: 52px;

    .lists {
      position: relative;
      margin-top: 12px;
      padding-left: 60px;

      &:first-child {
        margin-top: 0;
      }

      &_tit {
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 12px;
        letter-spacing: -0.3px;
      }

      &_txt {
        line-height: 22px;
      }
    }
  }

  @include under-pc {

    // ~ 1280
    .coupon_box {
      width: calc((100% - 16px)/2);
      min-height: auto;
      margin: 0 0 24px 16px;

      &:after {
        width: 64px;
      }

      .coupon_type {
        font-size: 40px;

        &.two {
          right: -52px;
          line-height: 33px;
        }
      }
    }

    .coupon {
      width: calc(100% - 64px);
      padding: 21px 10px 24px 23px;

      &_no,
      &_expiration {
        position: relative;
        top: 0;
        right: 0;
        font-size: 12px;
      }
    }

    .coupon_desc {
      margin-top: 30px;

      .lists {
        margin-top: 3px;
      }

      .lists_txt {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .tit {
      margin-top: 2px;
      font-size: 16px;
      line-height: 26px;
    }

    .cut_tit {
      margin-top: 2px;
      font-size: 12px;
      line-height: 18px;
    }

    .cut_txt {
      margin-top: 5px;
    }

    .expiration_txt {
      margin-top: 26px;
      font-size: 12px;
    }
  }

  @include only-mo {
    // 640
    display: block;

    .coupon_box {
      width: 100%;
      margin: 0 0 17px 0;
    }

    .coupon_desc {
      margin-top: 40px;
    }
  }
}