.find_address {
  .search_container {
    display: flex;

    .search_input {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      border: 0;
      padding: 10px 0;
      font-size: 14px;
      color: #444;
      transition: all 0.15s ease;
      border-bottom: 1px solid #e1e1e1;
      line-height: 1.4;
      box-sizing: border-box;
    }

    .search_button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      min-width: 64px;
      font-size: 12px;;
    }
  }

  .tip {
    padding: 35px 0 30px 0;
    background-color: #fff;
    letter-spacing: -0.5px;

    .tit {
      padding: 0 0 13px;
      border-bottom: 1px solid #999999;
      color: #000;
      font-size: 18px;
    }

    p {
      margin: 5px 0 24px 0;
      font-size: 14px;
      color: #8a8a8a;
    }

    dl {
      margin: 13px 0 0 0;

      dt {
        padding: 0 0 0 12px;
        font-size: 15px;
        color: #222;
        font-weight: bold;
      }

      dd {
        margin: 0;
        padding: 7px 0 7px 12px;
        font-size: 14px;
        color: #666;
      }
    }
  }

  .no_result {
    margin-top: 25px;

    strong {
      color: #222;
      font-weight: bold;
    }

    > p {
      margin: 0 0 10px 0;
      font-size: 14px;
      color: #8a8a8a;
    }
  }
}