@import '../../import/variables.scss';

.mypage {

  /* mypage */
.my{
  .container .content { 
    padding-top: 80px;
  }
  .cont{
    .cont_head{
      position:relative;
    }
    .cont_tit{
      margin-top:80px;
      font-size:24px;
      font-weight:700;
      letter-spacing:-0.6px;
      color:#222;
    }
  }
  .btn_article{
    text-align:center;
    &.line{
      border-top:1px solid #ddd;
    }
  }
  .more_btn{
    display:inline-block;
    padding:16px;
    font-size:16px;
    font-weight:700;
    color:#222;
    &:after {
      margin-left:8px;
      content:"+";
    }
  }
  .mo_none{
    display:none;
  }
}
.my_wrap{
  padding-bottom:160px;
  background:#fff;
}
.my_head{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  transition:all .2s;
  .title{
    padding:106px 0 40px;
    font-size:48px;
    font-weight:bold;
    letter-spacing:-1.2px;
    text-align:center;
    color:#222;
  }
  @include only-tab {
    padding:0 24px;
    .title{
      padding-top:66px;
    }
  }
}
.ico_box_link{
  margin-top:40px;
  &:after{
    display:block;
    clear:both;
    content:"";
  }
  .box_link_inner{
    display:block;
    float:left;
    position:relative;
    width:calc((100% - 24px)/2);
    margin-left:24px;
    padding:31px 42px 31px 128px;
    background:#fbfbfb;
    &:first-child{
      margin-left:0;
    }
    &:before{
      display:block;
      position:absolute;
      top:50%;
      left:32px;
      width:64px;
      height:64px;
      transform:translateY(-50%);
      content:"";
    }
    &.ico_type1:before{
      background:url('../../../images//mypage/ico_mypage_link_1.svg') no-repeat 0 0;
    }
    &.ico_type2:before{
      background:url('../../../images//mypage/ico_mypage_link_2.svg') no-repeat 0 0;
    }
    &.ico_type3:before {
      background: url("../../../images//mypage/ico_mypage_link_3.svg") no-repeat 50%/cover;
    }
    &:after{
      display:block;
      position:absolute;
      top:50%;
      right:32px;
      width:9px;
      height:14px;
      background:url('../../../images//mypage/ico_txt_link_arrow.svg') no-repeat 0 0;
      transform: translateY(-50%);
      content:"";
    }
  }
  .txt_box{
    .tit{
      font-size:16px;
      font-weight:700;
      letter-spacing:-0.4px;
      color:#222;
    }
    .txt{
      color:#444;
    }

  }
}

// 회원정보 수정 - 비밀번호 확인 팝업
.modify_pw_chk{
  .inp_box {
    .inp{
      padding:20px 0 12px;
      font-size:14px;
      &:placeholder-shown {
        + .label {
          top: 20px;
          transform: translate3d(0,0,0) scale(1);
          @include only-mo {
            top: 20px;
          }
        }
      }
      &:not(:placeholder-shown) {
        + .label {
          transform: translate3d(0,-12px,0) scale(.75);
          top: 10px;
        }
      }
      &:focus {
        outline: 0;
        + .label {
          transform: translate3d(0,-12px,0) scale(.75);
          top: 10px;
          color: #bbb;
        }
      }
      @include only-mo {
        font-size:16px;
        .label{
          font-size:16px;
        }
      }
    }
    .label{
      font-size:14px;
    }
  }
  .btn_article{
    .button{
      height:auto;
      min-width:auto;
      padding:15px 30px;
      font-size:16px;
    }
  }
  .sns_login_box{
    padding:22px 0 30px;
    border-top:1px solid #ddd;
    background:#fbfbfb;
    text-align:center;
    .sns_title{
      float:none;
      font-size:16px;
    }
    .sns_txt{
      float:none;
      display:block;
      margin-top:2px;
      font-size:14px;
    }
    .sns_list{
      float:none;
      display: flex;
      margin-top:24px;
      justify-content: center;
    }
  }
  .guide_list{
    margin-top:20px;
  }
}

.password_change{
  .inp_box {
    .inp{
      padding:20px 0 12px;
      font-size:14px;
      &:placeholder-shown {
        + .label {
          top: 20px;
          transform: translate3d(0,0,0) scale(1);
          @include only-mo {
            top: 20px;
          }
        }
      }
      &:not(:placeholder-shown) {
        + .label {
          transform: translate3d(0,-12px,0) scale(.75);
          top: 10px;
        }
      }
      &:focus {
        outline: 0;
        + .label {
          transform: translate3d(0,-12px,0) scale(.75);
          top: 10px;
          color: #bbb;
        }
      }
      @include only-mo {
        font-size:16px;
        .label{
          font-size:16px;
        }
      }
    }
    .label{
      font-size:14px;
    }
  }
  .guide_list{
    margin-top:40px;
  }
}


@include under-pc {
  .cont_inner{
    padding:0 24px;
  }
  .user_item{
    width:50%;
    &:nth-child(2) ~ .user_item {
      border-top:1px solid #444;
    }
  }
  .ico_box_link {
    .box_link_inner{
      width: calc((100% - 16px)/2);
      margin-left:16px;
      padding:21px 32px 21px 96px;
      &:before{
        left:24px;
        width:48px;
        height:48px;
        background-size:48px 48px;
      }
      &.ico_type1:before, &.ico_type2:before{
        background-size:48px 48px;
      }
      &:after{
        right:24px;
        width:8px;
        height:12px;
        background-size:8px 12px;
      }
    }
    .txt_box {
      .tit{
        font-size:14px;
      }
      .txt{
        margin-top:2px;
        font-size:12px;
        line-height:18px;
      }
    }
  }
  .history_like {
    .item{
      .tit{
        margin-top:24px;
      }
      .prd_price{
        margin-top:16px;
      }
    }
  }
}
@include only-tab{
  .member_wrap{
    width:100%;
    max-width:768px;
    padding:0 24px 120px;
  }
  .member_withdrawal {
    .button_secondary{
      font-size:14px;
    }
  }
  .member_list {
    .tit_inner {
      width:22.78%;
    }
    .info_inner{
      padding-left:22.78%;
    }
    .info_box{
      &.type_txt_btn {
        .data_box{
          width:66.54%;
        }
      }
    }
    .btn_box {
      width:30.57%;
      margin-left:2.87%
    }
    .data_box{
      &.sub_txt_box{
        padding-bottom:20px;
        .name_desc{
          top:60px;
          left:0;
          font-size:12px;
          transform:none;
        }
      }
    }
    .certify_txt{
      font-size:12px;
    }
  }
}

@include only-mo {
  .my{
    .container .content { 
      padding: 40px 0 80px;
    }    
    .cont{
      .cont_tit{
        margin-top:36px;
        font-size:20px;
      }
      & + .cont{
        .cont_tit{
          margin-top:64px;
        }
      }
    }
    .button_secondary {
      font-size:14px;
      font-weight:400;
      background:none;
      border:none;
      color:#888;
    }
    .more_btn{
      padding:14px;
      font-size:14px;
    }

  }
  .my_wrap{
    padding-bottom:80px;
  }
  .my_head{
    background:#000;
    .title{
      padding:33px 0 40px;
      font-size:24px;
      line-height:36px;
      color:#fff;
    }
  }

  .ico_box_link {
    .box_link_inner{
      width:100%;
      margin:0 0 8px 0;
      padding:21px 40px 21px 96px;
    }
  }
}


}
