.inp_box .inp {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    padding: 28px 0 20px 0;
    font-size: 18px;
    color: #222;
    font-weight: 700;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    border-bottom: 1px solid #e1e1e1;
    line-height: 1.4;
}

.inp_box .label {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 18px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    pointer-events: none;
    color: #888;
}

.group:first-of-type .inp_box {
    margin-top: 0;
}
.inp_box .inp_desc {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
label, select, input, textarea {
    padding: 0;
    vertical-align: middle;
    font-family: inherit;
}

@media screen and (max-width: 640px) {
  .inp_box .inp {
      padding: 22px 0 16px;
      font-size: 16px;
  }

  .password_change .inp_box .inp {
      padding: 20px 0 12px;
      font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .password_change .inp_box .inp {
    font-size: 16px;
  }
}

.password_change .inp_box .label {
    font-size: 14px;
}

@media screen and (max-width: 640px) {
  .inp_box .inp:placeholder-shown+.label {
      top: 20px;
  }
}

@media screen and (max-width: 640px) {
  .password_change .inp_box .inp:placeholder-shown+.label {
    top: 20px;
  }
  .password_change .inp_box .inp:placeholder-shown+.label {
      top: 20px;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
  }
}

.inp_box .focus_bg {
    position: relative;
    display: block;
}

.inp_box .eyes {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}

.inp_box .eyes .eyes_btn {
    display: block;
    padding: 5px 0 5px 5px;
    background: #fff;
}

.inp_box .eyes .ico_eyes {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../../images/common/ic_eyes_off.svg) no-repeat 0 0;
}

.error_txt {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    color: #e70000;
    line-height: 18px;
    font-weight: normal;
}

.error_txt .ico {
    display: inline-block;
    margin: 2px 4px 0 0;
    width: 14px;
    height: 14px;
    background: url(../../../images/common/ic_warning.svg) no-repeat 0 0;
    vertical-align: top;
}